<div class="body-content">

<div id="login">
  <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
          <div id="login-column" class="col-md-6">
              <div id="login-box" class="col-md-12">
                  <form id="login-form" class="form"  [formGroup]="loginForm" (ngSubmit)="validateLogin()">
                      <h3 class="text-center text-info">Login</h3>
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" formControlName="email">

                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" formControlName="password">

                    </div>

                    <div class="form-group mb-2">
                      <button type="submit" [disabled]="!loginForm.valid"
                          class="btn btn-primary clsbtn">Login</button>

                    </div>
                    <span *ngIf="errormessage" class="text-danger">
                      * {{errormessage}}
                    </span>
                </form>
              </div>

          </div>
      </div>
  </div>
</div>
</div>

