.body-content{
  margin: 0;
  padding: 0;
  background-color:#563d7c;
  height: 100vh;

}
#login .container #login-row #login-column #login-box {
  margin-top: 150px;
  max-width: 600px;
  height: 330px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
  border-radius: 5px;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
input.form-control.ng-invalid.ng-touched{
  border: 2px red solid;
}
.clsbtn{
   margin-left: 160px;
   width:120px;
}
