<div class="container">
    <div class="row mt-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/home/apikeylist">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Library</li>
            </ol>
          </nav>
        <div class="col-md-6">
            <h4 class="text-info">Register for new API Service</h4>
            <form [formGroup]="newApiRegForm" (ngSubmit)="addNewApi()">
                <div class="form-group">
                    <label for="tenantid">TenantId</label>
                    <input [class.is-invalid]="tenantId.touched && tenantId.invalid" type="text" class="form-control"
                        id="tenantid" formControlName="tenantId" />

                    <div *ngIf="tenantId.touched && tenantId.invalid">
                        <small *ngIf="email.errors.required" class="text-danger">TenantId cant be empty</small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input [class.is-invalid]="email.touched && email.invalid" type="email" class="form-control"
                        id="email" formControlName="email" />

                    <div *ngIf="email.touched && email.invalid">
                        <small *ngIf="email.errors.required" class="text-danger">Email cant be empty</small>
                        <small *ngIf="email.errors.email" class="text-danger">Invalid Email</small>
                    </div>
                </div>

                <div class="form-group" *ngIf="serviceNames.length > 0">
                    <label for="serviceId">ServiceId</label>
                    <select formControlName="serviceId" [class.is-invalid]="serviceId.touched && serviceId.invalid"
                        id="serviceId" class="custom-select">
                        <option [ngValue]="null" selected disabled>Choose your service</option>
                        <option *ngFor="let service of serviceNames" [ngValue]="service">
                            {{ service }}
                        </option>
                    </select>
                    <div *ngIf="serviceId.touched && serviceId.invalid">
                        <small *ngIf="serviceId.errors.required" class="text-danger">ServiceId cant be empty</small>
                    </div>
                </div>

                <!-- <div class="form-group">
                                <label for="apikey">Apikey</label>
                                <input type="text" class="form-control" id="apikey" formControlName="apiKey">
                            </div> -->


                <div class="modal-footer">
                    <button type="reset" class="btn btn-danger">
                        Reset
                    </button>
                    <button type="submit" [disabled]="newApiRegForm.invalid" class="btn btn-primary">
                        Register
                    </button>
                </div>
            </form>
        </div>


        <div class="col-md-6 mt-2">

            <div class="form-group" *ngIf="accessToken">
                <label for="description">Access Token</label>
                <textarea type="text" class="form-control" id="description" disabled>{{ accessToken }}</textarea>
            </div>

            <div class="modal-footer">
                
            </div>

        </div>

    </div>
</div>