<div class="container">
  <div class="row">
    <div class="col-auto mr-auto"></div>
    <div class="col col-auto">
      <button type="button" class="btn btn-primary" routerLink="/home/keygen" data-toggle="tooltip"
        data-placement="top" title="Register for New API Service" data-delay="0" data-animation="true">
        Create New Apikey
      </button>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-4">
      <div class="form-group" *ngIf="tenantIds.length > 0">
        <select class="custom-select" #selectedTenant (change)="onChangeTenant(selectedTenant.value)">
          <option value="">Select Tenant</option>
          <option *ngFor="let id of tenantIds" [value]="id">{{ id }}</option>
        </select>
      </div>
    </div>

    <div class="col-md-6">
      <input class="form-control" [(ngModel)]="searchStr" (keyup.enter)="search()" type="text"
        placeholder="Enter the service name to search" />
    </div>

    <div class="col-md-2">
      <button type="button" class="btn btn-info" (click)="search()">
        Search
      </button>
    </div>
  </div>
  <hr>

  <div class="row mt-2">
    <div class="col-md-12 mb-5">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tenant ID</th>
            <th scope="col">Email</th>
            <th scope="col">Service ID</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tenant of keydetails; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ tenant.tenantId }}</td>
            <td>{{ tenant.email }}</td>
            <td>{{ tenant.serviceId }}</td>
            <td (click)="deactivate(tenant.id)" style="cursor: pointer; color: red;">
              Deactivate
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
