<div class="container">
  <div class="row">
    <div class="col-auto mr-auto"></div>
    <div class="col col-auto">
      <button
        type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#newtenantmodal"
      >
        Create New Apikey
      </button>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-4">
      <div class="form-group" *ngIf="tenantIds.length > 0">
        <select
          class="custom-select"
          #selectedTenant
          (change)="onChangeTenant(selectedTenant.value)"
        >
          <option value="">Select</option>
          <option *ngFor="let id of tenantIds" [value]="id">{{ id }}</option>
        </select>
      </div>
    </div>

    <div class="col-md-6">
      <input
        class="form-control"
        [(ngModel)]="searchStr"
        (keyup.enter)="search()"
        type="text"
        placeholder="Enter the service name to search"
      />
    </div>

    <div class="col-md-2">
      <button type="button" class="btn btn-info" (click)="search()">
        Search
      </button>
    </div>
  </div>
  <hr>

<div class="row mt-2">
  <div class="col-md-12">
    <table
      datatable
      [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger"
      class="row-border hover"
    >
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tenant ID</th>
          <th scope="col">Email</th>
          <th scope="col">Service ID</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tenant of keydetails; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ tenant.tenantId }}</td>
          <td>{{ tenant.email }}</td>
          <td>{{ tenant.serviceId }}</td>
          <td
            (click)="deactivate(tenant.id)"
            style="cursor: pointer; color: red;"
          >
            Deactivate
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Form Modal start -->
<div
  class="modal fade"
  id="newtenantmodal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="newtenantmodalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newtenantmodalLabel">
          New Api Registration
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="newApiRegForm" (ngSubmit)="addNewApi()">
          <div class="form-group">
            <label for="tenantid">TenantId</label>
            <input
              [class.is-invalid]="tenantId.touched && tenantId.invalid"
              type="text"
              class="form-control"
              id="tenantid"
              formControlName="tenantId"
            />

            <div *ngIf="tenantId.touched && tenantId.invalid">
              <small *ngIf="email.errors.required" class="text-danger"
                >TenantId cant be empty</small
              >
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              [class.is-invalid]="email.touched && email.invalid"
              type="email"
              class="form-control"
              id="email"
              formControlName="email"
            />

            <div *ngIf="email.touched && email.invalid">
              <small *ngIf="email.errors.required" class="text-danger"
                >Email cant be empty</small
              >
              <small *ngIf="email.errors.email" class="text-danger"
                >Invalid Email</small
              >
            </div>
          </div>

          <div class="form-group" *ngIf="serviceNames.length > 0">
            <label for="serviceId">ServiceId</label>
            <select
              formControlName="serviceId"
              [class.is-invalid]="serviceId.touched && serviceId.invalid"
              id="serviceId"
              class="custom-select"
            >
              <option [ngValue]="null" disabled>Choose your service</option>
              <option *ngFor="let service of serviceNames" [ngValue]="service">
                {{ service }}
              </option>
            </select>
            <div *ngIf="serviceId.touched && serviceId.invalid">
              <small *ngIf="serviceId.errors.required" class="text-danger"
                >ServiceId cant be empty</small
              >
            </div>
          </div>

          <!-- <div class="form-group">
                            <label for="apikey">Apikey</label>
                            <input type="text" class="form-control" id="apikey" formControlName="apiKey">
                        </div> -->

          <div class="form-group" *ngIf="accessToken">
            <label for="description">Access Token</label>
            <textarea
              type="text"
              class="form-control"
              id="description"
              disabled
              >{{ accessToken }}</textarea
            >
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              type="submit"
              [disabled]="newApiRegForm.invalid"
              class="btn btn-primary"
            >
              Add
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Form modal end -->
